/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('styles/nav.css');

body {
    background-color: #204d48;
    margin: 0;
}

.container {
    font-family: 'Mulish', sans-serif;
    font-size: medium;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

blockquote {
    color: #373737;
    font-size: 26px;
    font-style: italic;
    quotes: 26px;
    padding: 20px;
    border-radius: 10px;
}

blockquote span {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #979797;
}

/* ---- Header content ----*/
header {
    /*background-image: url('images/outdoorshop.jpeg');*/
    display: flex;
    flex-direction: column;
    height: 500px;
}

header h1 {
    color: #fff;
}

#titleLogo {
    text-align: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    /* center text*/
    align-items: center;
    /* center items inside container*/
}

/*Slideshow header*/
#slide {
    list-style: none;
}

#slide img {
    width: 99.1vw;
}

#slideShow {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: -1;
}

#slideShow>li {
    position: absolute;
}

/* Navigation Menu */
nav {
    font-variant: small-caps;
    display: flex;
}

nav a {
    color: #fff;
    text-decoration: none;
}


nav ul {
    font-size: larger;
    text-align: center;
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
    list-style: none;
}

nav ul li {
    background-color: rgba(0, 0, 0, 0.50);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    z-index: 3;

}

nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.75);

}

.hamburger {
    display: flex;
    justify-content: center;
    background: #000;
    color: #fff;
    position: absolute;
    line-height: 60px;
    right: 0;
    border: 0;
    width: 80px;
    border: 0;
    font-size: 3em;
    font-weight: bold;
}

.close {
    display: flex;
    justify-content: center;
    background: #000;
    color: #fff;
    position: absolute;
    line-height: 60px;
    right: 0;
    border: 0;
    width: 80px;
    border: 0;
    font-size: 3em;
    font-weight: bold;
    z-index: 100000000;
}

/*---- Main content ----*/
main {
    background-color: #fff;
    display: flex;
    padding: 50px;
}

#rightPanel {
    text-align: center;
    margin-left: 25px;
    flex: 1;
}

#leftPanel {
    flex: 2;
}

/* Food Menu */
.menuContainer {
    border: #000;
}

.menuContent {
    text-align: center;
}

.menuTabs {
    display: flex;
    padding: 10px;
}

button {
    font-size: x-large;
    flex: 1;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.drink p,
.food p {
    margin: 0 20px;
}

.active {
    background-color: #000;
    color: #fff;
}

.hide {
    display: none;
}

.fade-up {
    animation: fade 1s;
}

@keyframes fade {
    from {
        opacity: 0.25;
        transform: translateY(40px);
    }
}

/* ----- TABLE STYLES ----- */
table {
    margin: 30px;
    overflow-x: auto;
}

table td:nth-child(2) {
    width: 70%;
    padding: 30px
}

/* ------- CATERING FORM -------- */
form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px;
    width: 60%;
}

input[type="date"] {
    width: 25%;
}

textarea {
    width: 70%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: none;
}

#submit {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    margin-top: 50px;
}

/*---- Footer content ----*/
footer {
    font-family: 'Mulish', sans-serif;
    font-size: medium;
    font-weight: 500;
    background-color: #542c34;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
}

#footerText {
    flex-grow: 1;
    margin: 30px;
}

#footerSocial {
    margin: 30px;
}


/* ------ MEDIA QUERY ------ */
@media (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    header {
        font-size: small;
        height: 250px;
        width: 100%;
        display: flex;
    }


    /* burguer menu*/
    nav {
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 300px;
        position: absolute;
        z-index: 2;
        top: 80px;
        right: 0;
        margin-right: 0;
    }

    img {
        width: 80%;
    }

    #rightPanel,
    #leftPanel {
        margin: 0;
    }

    table {
        text-align: center;
        margin: 0;
    }

    table td:nth-child(2) {
        padding: 5px;
        padding-bottom: 20px;
    }

    th {
        font-size: large;
        padding-bottom: 20px;
    }

    #footerText {
        flex: 1;
        margin-top: 10px;
    }

    #footerSocial {
        margin-top: 10px;
    }

    .fa-brands {
        margin: 1px !important;
    }
}

@media (min-width: 768px) {
    .hamburger,
    .close {
        display: none;
    }
    nav, nav ul, li {
        display: flex !important;
        justify-content: center;
    }
}


/*---- Font Awesome ----*/
.fa-brands {
    border-radius: 8px;
    padding: 5px;
    margin-left: 25px;
    font-size: 20pt;
    text-align: center;
    text-decoration: none;
}

.fa-brands:hover {
    opacity: 0.7;
    cursor: pointer;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #ee7955;
    color: white;
}