/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body {
    background-color: #204d48;
    margin: 0;
}

blockquote {
    color: #373737;
    font-size: 26px;
    font-style: italic;
    quotes: 26px;
    padding: 20px;
    border-radius: 10px;
}

blockquote span {
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #979797;
}

/* Header content */
#titleLogo {
    text-align: center;
    display: flex;
    flex-grow: 1;
    justify-content: center; /* center text*/
    align-items: center; /* center items inside container*/
}

header {
    background-image: url('images/outdoorshop.jpeg');
    display: flex;
    flex-direction: column;
    height: 384px;
}

nav {
    font-variant: small-caps;
}

nav a {
    color: #fff;
    text-decoration: none;
}


nav ul {
    font-size: larger;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
}

nav ul li {
    display: inline;
    flex-grow: 1;
    padding: 20px;
}

nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 50px;
}


/* Main content */
main {
    background-color: #fff;
    padding: 50px;
}

.container {
    font-family: 'Mulish', sans-serif;
    font-size: large;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

#rightPanel {
    /*background-color: #204d48;*/
    text-align: center;
}

#leftPanel {
    /*background-color: #915c4c;*/
}

/* Footer content */
footer {
    background-color: #542c34;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
}

#footerText {
    flex-grow: 1;
    margin: 30px;
}

#footerSocial {
    margin: 30px;
}

/* Font Awesome */
.fa-brands {
    border-radius: 8px;
    padding: 5px;
    margin-left: 25px;
    font-size: 20pt;
    text-align: center;
    text-decoration: none;
}

.fa-brands:hover {
    opacity: 0.7;
    cursor: pointer;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #ee7955;
    color: white;
}